.main-route {
    margin: 0 16px;
    background-color: #ffffff;
}

.icon-fuzhi {
    font-size: 24px !important;
    color:  #409EFF !important;
    cursor: pointer !important;
}

.general-box {
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .12);
}